// Primary Colors
$themeColor: #03001C;
$themeColorSecondary: #301E67;
$themeColorThird: #5B8FB9;

// Secondary Colors
$black: #000000;
$white: #ffffff;
$grey: #707070;
$error: #ff0000;
$yellow: #ffff00;
$success: #159484;

$fontFamily: 'Source Sans Pro';

// Font weights
$normal: normal;
$semiBold: 600;
$bold: bold;
